<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="widget">
				<div class="widget-header ">
					<span class="widget-caption">编辑菜单项</span>
				</div>
				<div class="widget-body" id="editMenuItemForm">
					<div class="table-toolbar">
						<a ng-click="goBack()" class="btn btn-default" style="cursor: pointer">返回</a>
						<a class="btn btn-success" ng-click="saveMenuItem()" style="cursor: pointer">确认</a>
					</div>
					<div>
						<form>
							<div class="row">
								<div class="form-group col-xs-4">
									<label>菜单名</label>
									<input type="text" class="form-control" disabled="true" ng-model="menuname" name="menuname">
								</div>
								<div class="form-group col-xs-4">
									<label>菜单项名</label>
									<input type="text" class="form-control" ng-model="theMenuItem.menuitemname" name="menuitemname" placeholder="请输入菜单项名"
									 data-bv-notempty="true" data-bv-notempty-message="菜单项名不能为空">
								</div>
								<div class="form-group col-xs-4">
									<label>菜单项父节点</label>
									<select name="menuitemparentid" class="form-control input-sm" ng-model="theMenuItem.menuitemparentid">
										<option ng-repeat="item in menuitems" value="{{item.menuitemid}}">{{item.menuitemname}}</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-xs-1">
									<label>是否显示</label>
								</div>
								<div class="col-xs-1">
									<label>
										<input ng-model="theMenuItem.isshow" class="checkbox-slider slider-icon colored-blue yesno" type="checkbox">
										<span class="text"></span>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-xs-4">
									<label>菜单项页面</label>
									<input type="text" class="form-control" ng-model="theMenuItem.menuitemurl" name="menuitemurl" placeholder="请输入菜单项页面">
								</div>
								<div class="form-group col-xs-4">
									<label>菜单项路由</label>
									<input type="text" class="form-control" ng-model="theMenuItem.menuitemrouteurl" name="menuitemrouteurl"
									 placeholder="请输入菜单项路由">
								</div>
								<div class="form-group col-xs-4">
									<label>菜单项控制器</label>
									<input type="text" class="form-control" ng-model="theMenuItem.menuitemctrl" name="menuitemctrl" placeholder="请输入菜单项控制器">
								</div>
							</div>
							<div class="form-group">
								<label>菜单项图标</label>
								<input type="text" class="form-control" ng-model="theMenuItem.menuitemicon" name="menuitemicon" placeholder="请选择菜单项图标"
								 data-bv-notempty="true" disabled="true" data-bv-notempty-message="菜单项图标不能为空">
								<div class="buttons-preview" style="margin-top: 5px">
									<a ng-repeat="icon in icons" ng-click="searchIcon(icon.name)" class="btn btn-default btn-xs icon-only" title="{{icon.name}}">
										<i class="{{icon.name}}"></i>
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6 col-md-6">
									<div class="dataTables_wrapper form-inline">
										<div style="height: 40px"></div>
										<table class="table table-striped table-hover table-bordered">
											<thead>
												<tr role="row">
													<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 384px;">行为名</th>
													<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 293px;">操作</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="userPermission in userPermissions">
													<td>{{userPermission.authitemname}}</td>
													<td>
														<a style="cursor: pointer" ng-click="deleteUserAuth(userPermission)" class="btn btn-info btn-xs edit">
															<i class="fa fa-arrow-right"></i>取消</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-xs-6 col-md-6">
									<div class="dataTables_wrapper form-inline">
										<div class="dataTables_filter">
											<label>
												<input type="search" ng-model="searchKeyword" ng-keypress="searchField($event)" class="form-control input-sm">
											</label>
										</div>
										<div class="dataTables_length">
											每页显示
											<label>
												<select class="form-control input-sm" ng-change="selectSize(newSize)" ng-model="newSize">
													<option ng-repeat="item in sizes" value="{{item.value}}">{{item.name}}条</option>
												</select>
											</label>
										</div>
										<table class="table table-striped table-hover table-bordered">
											<thead>
												<tr role="row">
													<th class="sorting" rowspan="1" colspan="1" ng-click="selectSort($event, 'authitemname')" style="width: 384px;">行为名</th>
													<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 293px;">操作</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="permission in permissions">
													<td>{{permission.authitemname}}</td>
													<td>
														<a style="cursor: pointer" ng-click="addUserAuth(permission)" class="btn btn-info btn-xs edit">
															<i class="fa fa-arrow-left"></i>分配</a>
													</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<th rowspan="1" colspan="1">
														<input type="text" placeholder="搜索行为名" ng-model="searchAuth.authitemname" ng-keypress="searchField($event)"
														 class="form-control input-sm">
													</th>
													<th rowspan="1" colspan="1"></th>
												</tr>
											</tfoot>
										</table>
										<div class="row DTTTFooter">
											<div class="col-sm-6">
												<div class="dataTables_info">共{{page.totalCount}}条记录</div>
											</div>
											<div class="col-sm-6">
												<div class="dataTables_paginate paging_bootstrap">
													<ul class="pagination">
														<li ng-if="page.indexPageNum == 1" class="prev disabled">
															<a>上一页</a>
														</li>
														<li ng-if="page.indexPageNum != 1" class="prev" ng-click="selectPage(page.indexPageNum - 1)" style="cursor: pointer">
															<a>上一页</a>
														</li>
														<li ng-repeat="pageindex in pages" class="{{pageindex.active}}" ng-click="selectPage(pageindex.name)">
															<a style="cursor: pointer">{{pageindex.name}}</a>
														</li>
														<li ng-if="page.indexPageNum == pages.length" class="next disabled">
															<a>下一页</a>
														</li>
														<li ng-if="page.indexPageNum != pages.length" class="next" ng-click="selectPage(page.indexPageNum + 1)" style="cursor: pointer">
															<a>下一页</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			// 初始化检查器
			$("#editMenuItemForm").bootstrapValidator();
		});
	</script>
</body>

</html>