<!DOCTYPE html>
<html ng-app="loginApp">
<!-- Head -->
<head>
<meta charset="utf-8" />
<title>后台登录</title>

<meta name="description" content="login page" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="../../imgs/favicon.png"
	type="image/x-icon">

<!--Basic Styles-->
<link href="../../css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link id="bootstrap-rtl-link" href="" rel="stylesheet" />
<link href="../../css/font/font-awesome.min.css" rel="stylesheet" />

<!--Beyond styles-->
<link id="beyond-link" href="../../css/beyond/beyond.min.css"
	rel="stylesheet" />
<link href="../../css/beyond/demo.min.css" rel="stylesheet" />
<link href="../../css/beyond/animate.min.css" rel="stylesheet" />
<link id="skin-link" href="" rel="stylesheet" type="text/css" />

<!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
<script src="../../js/beyond/skins.min.js"></script>
</head>
<!-- /Head -->
<!-- Body -->
<body>
	<!-- Loading Container -->
	<div class="loading-container">
		<div class="loading-progress">
			<div class="rotator">
				<div class="rotator">
					<div class="rotator colored">
						<div class="rotator">
							<div class="rotator colored">
								<div class="rotator colored"></div>
								<div class="rotator"></div>
							</div>
							<div class="rotator colored"></div>
						</div>
						<div class="rotator"></div>
					</div>
					<div class="rotator"></div>
				</div>
				<div class="rotator"></div>
			</div>
			<div class="rotator"></div>
		</div>
	</div>
	<!--  /Loading Container -->
	<div class="login-container animated fadeInDown"
		ng-controller="LoginController">
		<div id="loginForm" class="loginbox bg-white"
			data-bv-message="This value is not valid"
			data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
			data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
			data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
			<div class="loginbox-title">后台管理系统</div>
			<div class="loginbox-social">
				<div class="social-title ">使用合作网站帐号登录</div>
				<div class="social-buttons">
					<a href="" class="button-facebook"> <i
						class="social-icon fa fa-facebook"></i>
					</a> <a href="" class="button-twitter"> <i
						class="social-icon fa fa-twitter"></i>
					</a> <a href="" class="button-google"> <i
						class="social-icon fa fa-google-plus"></i>
					</a>
				</div>
			</div>
			<div class="loginbox-or">
				<div class="or-line"></div>
				<div class="or">或</div>
			</div>
			<div class="loginbox-textbox">
				<div class="form-group">
					<input type="text" class="form-control" name="loginname"
						placeholder="请输入登录名" data-bv-notempty="true"
						data-bv-notempty-message="登录名不能为空" ng-model="userkeyVo.loginmsg" />
				</div>
			</div>
			<div class="loginbox-textbox">
				<div class="form-group">
					<input type="password" class="form-control" name="password"
						placeholder="请输入密码" data-bv-notempty="true"
						data-bv-notempty-message="密码不能为空" data-bv-stringlength="true"
						data-bv-stringlength-min="6" data-bv-stringlength-max="30"
						data-bv-stringlength-message="密码长度必须在6到30位之间"
						ng-keypress="enter($event)" ng-model="userkeyVo.credential" />
				</div>
			</div>
			<div class="loginbox-forgot">
				<a href="">忘记密码？</a>
			</div>
			<div class="loginbox-submit">
				<input type="button" class="btn btn-primary btn-block" value="登录"
					ng-click="login()">
			</div>
			<div class="loginbox-signup">
				<a href="register.html">注册</a>
			</div>
		</div>
		<div class="logobox"></div>
	</div>

	<!--Basic Scripts-->
	<script src="../../js/jquery/jquery-2.0.3.min.js"></script>
	<script src="../../js/bootstrap/bootstrap.min.js"></script>

	<!--Beyond Scripts-->
	<script src="../../js/beyond/beyond.min.js"></script>

	<!--Page Related Scripts-->
	<script src="../../js/bootstrap/validation/bootstrapValidator.js"></script>
	<script src="../../js/jquery/toastr/toastr.js"></script>
	<script src="../../js/md5/md5.js"></script>

	<!--Angular Scripts-->
	<script src="../../js/angular/angular.min.js"></script>

	<!--Model Scripts-->
	<script src="../../ctrl/models/UserkeyVo.js"></script>

	<!--Service Scripts-->
	<script src="../../js/localStorage/localStorageCtrl.js"></script>
	<script src="../../ctrl/admin/loginApp.js"></script>

	<script>
		$(document).ready(function() {
			// 初始化检查器
			$("#loginForm").bootstrapValidator();
		});
	</script>
</body>
<!--  /Body -->
</html>
