<!DOCTYPE html>
<html>
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>注册</title>

    <meta name="description" content="register page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../../imgs/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="../../css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="../../css/font/font-awesome.min.css" rel="stylesheet" />

    <!--Beyond styles-->
    <link id="beyond-link" href="../../css/beyond/beyond.min.css" rel="stylesheet" />
    <link href="../../css/beyond/demo.min.css" rel="stylesheet" />
    <link href="../../css/beyond/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="../../js/beyond/skins.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>
    <div class="register-container animated fadeInDown">
        <div class="registerbox bg-white">
            <div class="registerbox-title">注册</div>

            <div class="registerbox-caption ">请填写您的帐号信息</div>
            <div class="registerbox-textbox">
                <input type="text" class="form-control" placeholder="请输入登录名" />
            </div>
            <div class="registerbox-textbox">
                <input type="password" class="form-control" placeholder="请输入密码" />
            </div>
            <div class="registerbox-textbox">
                <input type="password" class="form-control" placeholder="请确认密码" />
            </div>
            <div class="registerbox-textbox no-padding-bottom">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="colored-primary" checked="checked">
                        <span class="text darkgray">我接受<a class="themeprimary">《SuperW用户许可协议》</a>中的条款</span>
                    </label>
                </div>
            </div>
            <div class="registerbox-submit">
                <input type="button" class="btn btn-primary pull-right" value="注册">
            </div>
        </div>
        <div class="logobox">
        </div>
    </div>

    <!--Basic Scripts-->
    <script src="../../js/jquery/jquery-2.0.3.min.js"></script>
    <script src="../../js/bootstrap/bootstrap.min.js"></script>

    <!--Beyond Scripts-->
    <script src="../../js/beyond/beyond.min.js"></script>
</body>
<!--Body Ends-->
</html>
