<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="widget">
				<div class="widget-header ">
					<span class="widget-caption">角色列表</span>
				</div>
				<div class="widget-body">
					<div class="table-toolbar">
						<a ng-click="preAddRole()" class="btn btn-default"
							style="cursor: pointer">添加角色</a>
					</div>
					<div class="dataTables_wrapper form-inline">
						<div class="dataTables_filter">
							<label><input type="search" ng-model="searchKeyword"
								ng-keypress="searchField($event)" class="form-control input-sm"></label>
						</div>
						<div class="dataTables_length">
							每页显示<label><select class="form-control input-sm"
								ng-change="selectSize(newSize)" ng-model="newSize"><option
										ng-repeat="item in sizes" value="{{item.value}}">{{item.name}}条</option></select></label>
						</div>
						<table class="table table-striped table-hover table-bordered">
							<thead>
								<tr role="row">
									<th class="sorting_disabled" rowspan="1" colspan="1"
										style="width: 48px;"></th>
									<th class="sorting" rowspan="1" colspan="1"
										ng-click="selectSort($event, 'authitemname')"
										style="width: 384px;">角色名</th>
									<th class="sorting" rowspan="1" colspan="1"
										ng-click="selectSort($event, 'createtime')"
										style="width: 263px;">创建时间</th>
									<th class="sorting_disabled" rowspan="1" colspan="1"
										style="width: 293px;">操作</th>
								</tr>
							</thead>
							<tbody ng-repeat="role in roles">
								<tr>
									<td class="sorting_1"><i
										class="fa fa-plus-square-o row-details"
										ng-click="detailToggler($event)"></i></td>
									<td>{{role.authitemname}}</td>
									<td>{{role.createtime}}</td>
									<td><a style="cursor: pointer"
										ng-click="preEditRole(role.roleid, role.authitemname)"
										class="btn btn-default btn-xs"><i
											class="glyphicon glyphicon-pencil"></i>编辑</a> <a
										ng-click="deleteRole(role)"
										style="cursor: pointer" class="btn btn-danger btn-xs"><i
											class="fa fa-trash-o"></i>删除</a></td>
								</tr>
								<tr style="display: none">
									<td class="details" colspan="4"><div
											class="well with-header">
											<div class="header bordered-blue">所属行为</div>
											<div class="labels-container">
												<span ng-repeat="permission in role.permissionList"
													class="label label-success">{{permission.authitemname}}</span>
											</div>
										</div></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th rowspan="1" colspan="1"></th>
									<th rowspan="1" colspan="1"><input type="text"
										placeholder="搜索角色名" ng-model="searchRole.authitemname"
										ng-keypress="searchField($event)"
										class="form-control input-sm"></th>
									<th rowspan="1" colspan="1"></th>
									<th rowspan="1" colspan="1"></th>
								</tr>
							</tfoot>
						</table>
						<div class="row DTTTFooter">
							<div class="col-sm-6">
								<div class="dataTables_info">共{{page.totalCount}}条记录</div>
							</div>
							<div class="col-sm-6">
								<div class="dataTables_paginate paging_bootstrap">
									<ul class="pagination">
										<li ng-if="page.indexPageNum == 1" class="prev disabled"><a>上一页</a></li>
										<li ng-if="page.indexPageNum != 1" class="prev"
											ng-click="selectPage(page.indexPageNum - 1)"
											style="cursor: pointer"><a>上一页</a></li>
										<li ng-repeat="pageindex in pages"
											class="{{pageindex.active}}"
											ng-click="selectPage(pageindex.name)"><a
											style="cursor: pointer">{{pageindex.name}}</a></li>
										<li ng-if="page.indexPageNum == pages.length"
											class="next disabled"><a>下一页</a></li>
										<li ng-if="page.indexPageNum != pages.length" class="next"
											ng-click="selectPage(page.indexPageNum + 1)"
											style="cursor: pointer"><a>下一页</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>